@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suavizar transiciones y tipografía por defecto */
:root { color-scheme: light dark; }
html, body { height: 100%; }
* { transition: background-color .2s, color .2s, border-color .2s; }
body { font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", Arial; }
